body{
    padding: 40px;
}
h1{
    text-align: center;
}
h2{
    text-align: left;
}
.gombok{
    text-align: center;
}
#egygomb{
    width: 100%;
    margin-bottom: 0.01px;
}
#kettogomb{
    width: 100%;
}
.dark-mode {
    background-color: black;
    color: white;
  }
.rainbow {
    background-color: orangered;
    color: bisque;
  }
© 2021 GitHub, Inc.