body{
    background-color: royalblue;
}
h1{
    text-align: center;
}
.egesz2{
    background-color: white;
    padding: 1%;
}

h2{
    text-align: left;
}
.egesz1{
    background-color: royalblue;
    padding: 1%;
}